	@media only screen and (min-width: 992px) {
		body, h1, h2, h3, p, img, ul, li{
			border:0; margin:0; padding:0;
		}
		
		body{
			background:#eaf8fb;
			font-family:Arial, Helvetica, sans-serif;
			font-size:0.8125em;
		}
			
		p{
			letter-spacing:.04em;
			line-height:21px;
		}
			
		div#header{
			background-color:#333;
			background-image:url(hw2images/headerbkgd.png);
			background-repeat:no-repeat;
			background-position:left bottom;
			color:#fff;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
			margin:0 auto;
			min-height:130px;
			padding:45px 15px 15px;
			width:870px;
		}
			
		ul.navigation {
			list-style:none;
			margin-top:20px;
		}
						
		ul.navigation li{
			display:inline-block;
			margin:0 3px 5px;
		}
						
		ul.navigation li a{
			background:#4a4a4a;
			color:#fff;
			border-radius:2px;
			border:1px solid #595959;
			padding:3px 10px;
			text-decoration:none;
		}
							
		ul.navigation li a:hover{
			background-color:#000;
		}
		
		div.content{
			margin:15px auto;
			width:900px;
		}
					
		div.col-right{
			float:right;
			width:50.75em;
		}
			
		div.sidebar-left{
			float:left;
			padding: 0 10px;
			width:22.22%;
		}
			
		div.sidebar-left a{
			color:#445e64;
		}
		
		div.sidebar-left a:hover{
			text-decoration:none
		}
		
		.list{
			border-bottom:1px solid #c3dce1;
			padding:0 0 20px 15px;
		}
		.list li{
			margin-bottom:10px
		}
		.list li a{
			font-weight:bold;
			text-transform:uppercase;
			font-size:0.84375em;
		}
					
		div#footer{
			background-color:#c4d5d9;
			margin:0 auto;
			padding:15px;
			text-align:center;
			width:900px;
		}

		.float-left{
			float:left;
			margin:0  10px 10px 0;
		}
		.float-right{
			float:right;
		}
		.float-right img{
			margin:0 0 10px 10px;
			width:100%;
			height:auto;
		}

		.clear{
			clear:both; 
		}
	}

	@media only screen and (max-width: 992px) {
		body, h1, h2, h3, p, img, ul, li{
			border:0; margin:0; padding:0;
		}
		
		body{
			background:#eaf8fb;
			font-family:Arial, Helvetica, sans-serif;
			font-size:0.8125em;
		}
			
		p{
			letter-spacing:.04em;
			line-height:21px;
		}
			
		div#header{
			background-color:#333;
			background-image:url(hw2images/headerbkgd.png);
			background-repeat:no-repeat;
			background-position:left bottom;
			color:#fff;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
			margin:0 auto;
			min-height:130px;
			max-height:100%;
			padding:45px 15px 15px;
			max-width:870px;
		}
			
		ul.navigation {
			list-style:none;
			margin-top:20px;
		}
						
		ul.navigation li{
			display:block;
			margin:3px 3px 5px;
		}
						
		ul.navigation li a{
			background:#4a4a4a;
			color:#fff;
			border-radius:2px;
			border:1px solid #595959;
			padding:3px 10px;
			text-decoration:none;
		}
							
		ul.navigation li a:hover{
			background-color:#000;
		}
		
		div.content{
			margin:15px auto;
			max-width:900px;
			height:auto;
		}
					
		div.col-right{
			float:right;
			max-width:100%;
		}
			
		div.sidebar-left{
			float:left;
			padding:0 10px;
			max-width:100%;
		}
			
		div.sidebar-left a{
			color:#445e64;
		}
		
		div.sidebar-left a:hover{
			text-decoration:none
		}
		
		.list{
			border-bottom:1px solid #c3dce1;
			padding:0 0 20px 15px;
		}
		.list li{
			margin-bottom:10px
		}
		.list li a{
			font-weight:bold;
			text-transform:uppercase;
			font-size:0.84375em;
		}
					
		div#footer{
			background-color:#c4d5d9;
			margin:0 auto;
			padding:15px;
			text-align:center;
			max-width:900px;
		}

		.float-left{
			float:none;
			max-width:100%;
			height:auto;
		}
		.float-right{
			float:right;
			max-width:100%;
			height:auto;
		}
		.float-right img{
			margin:0 0 10px 10px;
			max-width:100%;
			height:auto;
		}

		.clear{
			clear:both; 
		}
	}